<div>

<h1>Song Details</h1>

<div class="tbl-header">

    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Duration</th>
            <th>Date</th>

        </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>

            <td>{{songId}}</td>
            <td>{{songName}}</td>
            <td>{{songAuthor}}</td>
            <td>{{songDuration}}</td>
            <td>{{songDate}}</td>

        </tr>
        </tbody>

    </table>
</div>

<div class="add">
    <a data-ng-href="#!/main"  ><button>Back</button></a>
</div>

</div>