
<div data-ng-app="myApp" data-ng-controller="SongsController">

<h1>Add song</h1>


<div class="tbl-header">

    <table cellpadding="0" cellspacing="0" border="0" >

        <tr>
            <th>Name</th>
            <th><input type="text" data-ng-model="nameR"/></th>
        </tr>
        <tr>
            <th>Author</th>
            <th><input type="text" data-ng-model="authorR"/></th>
        </tr>
        <tr>
            <th>Duration</th>
            <th><input type="text" data-ng-model="durationR"/></th>
        </tr>
        <tr>
            <th>Date</th>
            <th><input type="text" data-ng-model="dateR"/></th>
        </tr>

    </table>
</div>
<div class="add">
    <button data-ng-click="addSong()">Add Song</button>
</div>
<div class="add">
    <a data-ng-href="#!/main" data-ng-click="loadData()" ><button>Back</button></a>
</div>

</div>
